@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - MuniChorrillos2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            font-family: sans-serif;
        }

        .container-fluid {
            background-color: white;
            height: 50vh;
            margin: 5%;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            color: darkblue; 
            font-weight: bold; 
        }

    </style>

    
</head>
<body>
    
    <div class="container-fluid">
        <h1>BIENVENIDO</h1>
        <img src="~/Images/logoMuni.png" alt="Login" class="img-fluid mb-3" style="max-height: 100px;">
    </div>

    
</body>
</html>
