@model IEnumerable<MuniChorrillos2.Models.Area>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Areas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a>Area</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomArea)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdArea">Edit</a>|
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdArea">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
